@import "tailwindcss";

@theme{
      --color-primary: '#A0522D',
      --color-accent: '#F4A460',
      --color-background: '#F5F5DC',
      --color-danger: '#E35336',
      --color-textMain: '#3B2F2F',
}

button {
  cursor: pointer;
}